@media (max-width: 1025px) {
    .header{
        width: 860px;
        margin: 90px auto;
        left: 30px;
    }
    #logo{
        width: 196px;
        height: 32px;
    }
    .but-categorii{
        position: absolute;
        width: 350px;
    }
    .search input{
        width: 530px;
        left: 430px;
    }
    #search-btn{
        left: 930px;
    }
    #but-text-cat{
        font-size: 20px;
        left: 86px;
    }
    .nav-menu-hd{
        width: 705px;
        left: 405px;
        font-size: 22px;
    }
    .icons{
        left: 1208px;
    }
    #tel{
        left: 1165px;
        font-size: 22px;
    }
    #partners-hd, #garant-hd, #delivery-hd, #news-hd{
        margin-left: 24px;
        text-decoration: none;
        color: #000000;
    }
    /*Банер*/
    .baner{
        width: 1380px;
        margin: 80px 50px;
    }
    #camera-img-baner{
        margin: 31px 911px;
    }
    #allow-block{
        margin: 502px 1164px;
    }
    #allow-block-2{
        margin: 502px 1233px;
    }
    /*Новые товары*/
    #news-products{
        margin: 100px 0px;
    }
}
