.news-block{
position: relative;
width: 1380px;
height: 860px;
margin: 72px auto;

left: -250px;
border-radius: 16px;
}

#About-company{
position: absolute;
width: 373px;
height: 58px;
left: 100px;
top: 73px;

font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;


color: #FFFFFF;
}

#email-input{
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

color: #999696;

}
#notebook-news{
position: absolute;
width: 469px;
height: 422px;
left: 40px;
top: 315px;

background: url(pngfind.png);
}
#big-news-bool{
position: absolute;
width: 389px;
height: 256px;
left: 169px;
top: 604px;

}
#smol-news-bool{
    position: absolute;
width: 220px;
height: 301px;
left: 330px;
top: 497px;

}
.news{
position: relative;
width: 1282px;
height: 1053px;
margin: 80px auto;
left: 0px;

}
#news-title{  
position: absolute;
width: 134px;
height: 58px;
left: 720px;
top: 50px;

font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;
/* identical to box height */

color: #000000;
}
#news-body{  
position: absolute;
width: 557px;
height: 364px;
left: 720px;
top: 150px;

font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 39px;

color: #8D8E8E;
}
#text-see-all{ 
position: absolute;
width: 127px;
height: 19px;
left: 720px;
top: 580px;

font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;

color: #89B5FF;
}

#see-all-img{
position: absolute;
left: 845px;
top: 575px;
}

#camera-news-img{
position: absolute;
width: 562px;
height: 387px;
left: 720px;
top: 616px;

border-radius: 16px;
}
.sale-block{
position: relative;
width: 1580px;
height: 333px;
margin: 0 auto;
top: -62px;
background: linear-gradient(258.8deg, rgba(255, 255, 255, 0.1) 0%, rgba(203, 202, 240, 0.4) 100%);
}
#sale-text{
    
position: absolute;
width: 660px;
height: 86px;
left: 80px;
top: 66px;

font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;

color: #000000;
}
#email-input{
position: absolute;
width: 420px;
height: 68px;
left: 71px;
top: 211.53px;

background: #FFFFFF;
border-radius: 7px;
}

.sale-block input{
padding-left: 20px;
}

#subscride{
position: absolute;
width: 230px;
height: 66px;
left: 520px;
top: 213px;
}


#sale-image-megafon{
    position: absolute;
    width: 361.73px;
    height: 333.77px;
    left: 1198.25px;
    top: 49px;
}



.catalog{
top: 1000px;
}

.news-products-2{
    position: relative;
    width: 1420px;
    height: 1382px;
    margin: 0 auto;
}

#products{
    
position: absolute;
width: 1420px;
height: 1382px;
left: 275px;
top: 3128px;
}
#products-block-text{
    
position: absolute;
width: 947px;
height: 58px;
left: 275px;
top: 3128px;

font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;
/* identical to box height */


color: #000000;
}

#product-block{
    position: absolute;
    width: 330px;
    height: 540px;
    left: 303px;
   
    margin: 150px 15px;
    background: #FFFFFF;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    top: 6456px;
}
#tovar-camera-img{  
position: absolute;
width: 177px;
height: 177px;
left: 379px;

top: 6620px;
}

.button-catalog{
position: relative;
width: 230px;
height: 68px;
margin: 0 auto;
background: linear-gradient(270deg, #3C8DE9 0%, #4745E9 100%);
border-radius: 7px;
}

.button-catalog span{
position: absolute;
width: 230px;
margin: 22px 22px;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;

}

#tovar-camera-description{
position: absolute;
width: 237px;
height: 87px;
left: 27px;
top: 237px;;

font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 29px;

color: #000000;
}

#price-product{
position: absolute;
width: 117px;
height: 45px;
left: 27px;
top: 334px;

font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 139.52%;

color: #000000;
}

#title-product{   
position: absolute;
width: 207px;
height: 48px;
left: 27px;
top: 394px;

font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #9E9DA6;
}
#product-button{
    position: absolute;
    width: 115px;
    height: 40px;
    left: 188px;
    top: 479px;
    
    background: linear-gradient(270deg, #3C8DE9 0%, #4745E9 100%);
    border-radius: 7px;
}
.product-cards-2{
    position: relative;
   
    height: 489px;
}



#product-card-2{
    position: relative;
    width: 330px;
    height: 540px;
    left: 303px;
    margin: 150px 15px;
    background: #FFFFFF;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
#price{
    
position: absolute;
width: 401px;
height: 174px;
left: 199px;
top: 556px;
}
#link-line{
    
position: absolute;

left: 200px;
top: 383px;
}
#card-prosuct-image{
    position: absolute;
width: 1580px;
height: 703px;
left: 170px;
top: 447px;
}