@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

/*Карточка товара*/

.news-products{
    position: relative;
    width: 1365px;
    height: 590px;
    left: 125px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section-title{
    position: relative;
    top: 50px;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;;
}

.product-card{
    position: relative;
    width: 330px;
    height: 540px;
    left: -150px;
    margin: 150px 15px;
    background: #FFFFFF;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

#seen-all{
position: absolute;
width: 127px;
height: 19px;
left: 1200px;
top: 65px;

font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;

color: #89B5FF;
}

.sean-all{
    position: absolute;
    width: 150px;
    height: 19px;
}

.seen-all:hover{
color: black;
}

.button-newtovar{
position: absolute;
width: 230px;
height: 68px;
top: 751px;
left: 520px;
background: linear-gradient(270deg, #3C8DE9 0%, #4745E9 100%);
border-radius: 7px;
}

.button-newtovar span{
position: absolute;
margin: 20px 44px;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 24px;

color: #FFFFFF;


}

#vector{
position: absolute;
width: 127px;
height: 19px;
left: 1262px;
top: 65px;

font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;

color: #89B5FF;
    
}

.product-cards{
position: relative;
height: 489px;
}

.product-thumb{
margin: 0 56px auto 57px ;

width: 177px;
height: 177px;
left: 379px;
}

.title-product{
position: relative;
margin: 40px 21px auto 27px;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: medium;
font-size: 21px;
line-height: 29px;
width: 277px;
height: 87px;

color: #000000;
}

.price-product{
    position: relative;
    margin: 10px 26px auto 27px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 45px;


    color: #000000;
}

.description-product{
    position: relative;
    margin: 15px 26px auto 27px;
    max-width: 230px;
    word-wrap: break-word;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    width: 277px;
    height: 48px;

    color: #9E9DA6;
}
#order-button{
    position: relative;
width: 115px;
height: 40px;
top: 4%;
left: 20px;


}
.rating-mini {
  
	display: inline-block;
	font-size: 0;
}
.rating-mini span {
	padding: 0;
	font-size: 20px;
	line-height: 1;
	color: #9E9DA6;
}
.rating-mini > span:before {
	content: '★';
}
.rating-mini > span.active {
	color: #FB8200;
}

.score-product{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

    -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;  
}


.button-buy-product{
    position: relative;
    margin: 0 auto auto 27px;
    width: 115px;
    height: 40px;
    background: linear-gradient(270deg, #3C8DE9 0%, #4745E9 100%);
    border-radius: 7px;
    border: none;
    overflow-x: hidden;
    
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.button-buy-product .flare, .show-more .flare #but-categorii #button-baner{
    position: absolute;
    top: 0;
    height: 100%;
    width: 25px;
    transform: skewX(-45deg); 
    animation: flareAnimation;
    left: -150%;
    animation: flareAnimation 3.5s infinite linear; 
}

.show-more .flare{
    width: 55px;
}

@keyframes flareAnimation {
    0% {
        left: -150%;
    }
    100% {
        left: 150%;
    }
}
