/*Категории*/

.container-cat{
    position: relative;
    width: 1420px;
    height: 1350px; 
    margin: 0 auto;
}

#title-cat{
    position: relative;
    padding-bottom: 50px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    width: 947px;
    height: 58px;
    top: 192px;

    color: #000000;
}

.cat-1, .cat-2, .cat-3, .cat-4, .cat-5, .cat-6{
    position: relative;
    height: 410px;
    border-radius: 16px;
    margin: 35px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    color: #000000;
}


.cat-1{
    position: absolute;
    width: 700px;
    height: 300px;
    top: 300px;
    left: -35px;    
    background: linear-gradient(270deg, #C9EEF7 0%, #8DEBFF 100%);
    border-radius: 16px;
}

#thumb-cat-1{
    position:absolute;
    margin: 80px auto auto 287px;
    width: 312.5px;
    height: 250px;
    margin-top: 7%;
    right: 47.83px;
}


#title-cat-1{
    position: absolute;
    left: 0;
    top: -5%;
    margin: 50px auto auto 50px;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

.cat-2{
    position: absolute;
    width: 700px;
    height: 300px;
    top: 300px;
    left: 700px;    
    background: linear-gradient(270deg, #FECFF9 0%, #A5A4FF 100%);
    border-radius: 16px;
}

#thumb-cat-2{
    position:absolute;
    margin: 80px auto auto 287px;
    width: 274.17px;
    height: 223px;
    right: 47.83px;
}

#title-cat-2{
    position: absolute;
    left: 0;
    top: -5%;
    margin: 50px auto auto 50px;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}


.cat-3{
    position: absolute;
    width: 420px;
    height: 300px;
    left: -35px;
    top: 635px;
    
    background: linear-gradient(270deg, #B6DEE7 0%, #8DEBFF 100%);
    border-radius: 16px;
}

#thumb-cat-3{
    position:absolute;
    margin: 80px auto auto 287px;
    width: 312.5px;
    height: 250px;
  
    right:55px;
  
}

#title-cat-3{
    position: absolute;
    left: 0;
    top: -5%;
    margin: 50px auto auto 50px;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}


.cat-4{
    position: absolute;
    width: 980px;
    height: 300px;
    left: 420px;
    top: 635px;
    
    background: linear-gradient(270deg, #C4C4D1 0%, #D5D5FF 100%);
    border-radius: 16px;
}

#thumb-cat-4{
    position:absolute;
    margin: 80px auto auto 287px;
    width: 557.33px;
    height: 266px;
    top: -12%;
    right:37.67px;
}

#title-cat-4{
    position: absolute;
    left: 0;
    top: -5%;
    margin: 50px auto auto 50px;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}


.cat-5{
    position: absolute;
    width: 980px;
    height: 300px;
    left: -35px;
    top: 970px;
    
    background: linear-gradient(270deg, #FBE8E8 0%, #FBE1E1 100%);
    border-radius: 16px;
}

#thumb-cat-5{
    position: absolute;
    width: 450px;
    height: 286.62px;
    left:520px;
    top: 7px;
}

#title-cat-5{
    position: absolute;
    left: 0;
    top: -5%;
    margin: 50px auto auto 50px;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

.cat-6{
    position: absolute;
    width: 420px;
    height: 300px;
    left: 1000px;
    top: 970px;

    
    background: linear-gradient(270deg, #E7E7E7 0%, #D3D3D3 100%);
    border-radius: 16px;
}

#thumb-cat-6{
    position: absolute;
    width: 250.57px;
    height: 169px;
    top: 42%;
    left: 87.43px;
}

#title-cat-6{
    position: absolute;
    left: 0;
    top: -5%;
    margin: 50px auto auto 50px;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}